div.page-content {
    text-align: center !important;
}

div.main {
    height: 500px;
    width: 1000px;
    text-align: center;
}

div.line1 {
    justify-content: space-between;
}

div.line2 {
    justify-content: space-between;
}

div.line3 {
    justify-content: space-between;
}

a.url {
    text-decoration: none;
}

div.box {
    height: 110px;
    width: 480px;
    margin-top: 40px;
    background-color: #394479;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.295);
}
div.box:hover {
    background-color: #6272b9;
    transition: 0.6s;
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.799), 0 6px 80px 0 rgba(0, 0, 0, 0.74);
}

h2.heading {
    color: white;
    font-size: 340%;
    vertical-align: center;
}

a.title {
    color: white;
    text-decoration: none;
}

a.title:hover {
    color:rgb(198, 197, 197);
    transition: 0.6s;
    text-decoration: underline;
}